/* max icon size 50x50 */
body {
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/210770/b9342999d8ed77616aabf619d504a17cbdd1c62a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}