body{
  background-image: url("images/polls2.png");
  background-repeat:  no-repeat;
  background-size: cover;
}

li, label{
  color: darkblue;
  background-color: rgba(245, 245, 245, 0.781)

}

h1 {
  background-color: rgba(245, 245, 245, 0.781)
}

li a{
  color: purple;

}