/* body {
    
} */

#contactCard {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-auto-rows: 200px;
    margin: auto;   
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    border: 2px solid blue;
}

#iddisplayContact {
    grid-row-start: 2;
    grid-column: span 1/3;


}

#changeContact {
    margin: 20px;
}


