{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="mt-2">New Artist Profile</h1>
    <hr class="mt-0 mb-4">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Save</button>
    </form> 
  </div>
</div>
{% endblock %}
{% comment %} <form action= "{% url 'artist_profile:artist_create' %}" method="post">
  {% csrf_token %}
  <label for="artistName">Artist/Band Name:</label>
  <input type ="text" name="artist_name" id="artistName">
  <label for="genre">Genre:</label>
  <input type ="text" name="genre" id="genre">
  <label for="contact_first_name">Contact First Name:</label>
  <input type ="text" name="contact_first_name" id="contactFirstName">
  <label for="contact_last_name">Contact Last Name:</label>
  <input type ="text" name="contact_last_name" id="contact_last_name">
  <label for="contact_phone">Contact Phone Number:</label>
  <input type ="tel" name="contact_phone" id="contact_phone">
  <label for="contact_email">Contact Email:</label>
  <input type ="email" name="contact_email" id="contact_email">
  <button type="submit">Save</button>
</form> {% endcomment %}
