{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <div class=" col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
  {% for artist in artistprofile_list %}
    <div class="card" style="width: 18rem;">
      {% comment %} <img src="" class="card-img-top" alt="{{ artist.artist_name}}"> {% endcomment %}
      <div class="card-body">
        <h5 class="card-title">{{artist.artist_name}}</h5>
        <p class="card-text">{{artist.genre}}</p>
        <a href="{% url 'artist_profile:artist_detail' artist.id %}" class="btn btn-primary">View Profile</a>
      </div>
  </div>
  {% endfor %}
  <p><a href= "{% url 'artist_profile:artist_create' %}">create artist profile</a></p>

{% else %}
<div class= container>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Jaunt</h1>
    <p class="lead">This is an app to help independent musicians plan and book successful tours.</p>
    <hr class="my-4">
    <p>Try is yourself</p>
    <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a>
  </div>
</div>
{% endif %}
</div>
{% endblock %}

  {% comment %} {% if profile_pic %} {% endcomment %}
