{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Tour Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="col-2 bd-sidebar">
    <div class="btn-group-vertical bd-sidebar btn-group-lg" role="group" >
      <h2>Menu</h2>
      {% comment % <a href="{% url 'tour:image_choice' tour.id %}" type="button" class="btn btn-secondary">Change Image</a> {% endcomment %}
      <a type="button" class="btn btn-secondary"href="{% url 'tours:tour_edit' tour.id %}">Edit Tour Details</a>
      <a type="button" class="btn btn-secondary" href="{% url 'tours:tour_delete' tour.id %}">Delete</a>
    </div>
  </div>
  <div class=" col-5 bd-content">
    <h1 class="bd-title">Tour Detail</h1>
    <h2 class="bd-title">{{tour.tour_name}}</h2>
    <p class= "bd-lead">Performers: {{tour.performers}}</p>
    <p class= "bd-lead">{{tour.date_start}} - {{tour.date_end}}</p>
    <p class= "bd-lead">Region: {{tour.region}} </p>
    <p class= "bd-lead">Asking Price: {{tour.guarantee}} </p>
    <p class= "bd-lead">Venue Size: {{tour.venue_size}} </p>
  </div>
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">sign up</a>
      {% endif %}
  
  <div class=" col-5 bd-content">
    <ul>
  {% for city in cities %}
    <li> {{city.city}}, {{city.state}} </li>
      <ul>
   {% for venue in city.venue_set.all %}
      <li> {{venue.name}} {{venue.capacity}} </li>
    {% endfor %}
      </ul>
  {% endfor %}
    </ul>
  </div>
{% endblock %}