{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Tour Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <div class="btn-group-vertical bd-sidebar btn-group-lg" role="group" >
      <h2>Menu</h2>
      {% comment %} <a href="{% url 'tour:image_choice' tour.id %}" type="button" class="btn btn-secondary">Change Image</a>
      <a type="button" class="btn btn-secondary"href="{% url 'artist_profile:artist_edit' artistprofile.id %}">ProfileEdit</a>
      <a type="button" class="btn btn-secondary" href="{% url 'artist_profile:artist_delete' artistprofile.id %}">Delete</></a> {% endcomment %}
    </div>
  </div>
  <div class=" col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    {% if profile_pic %}
    <img src="{{ profile_pic.image.url}}" alt="{{ artistimage.artist_name}}" style="width: 400px">
     {% comment %} {% if artistprofile.profile_pic %}
    <img src="{{ artistprofile.profile_pic.image.url}}" alt="{{ artistprofile.artist_name}}" style="width: 200px"> {% endcomment %}
  {% else %}

  {% endif %}
    <h1 class="bd-title">Tour Detail</h1>
    <h2 class="bd-title">{{tour.tour_name}}</h2>
    <p class= "bd-lead">Performers: {{tour.performers}}</p>
    <p class= "bd-lead">{{tour.date_start}} - {{tour.date_end}}</p>
    <p class= "bd-lead">Region: {{tour.region}} </p>
    <p class= "bd-lead">Asking Price: {{tour.guarantee}} </p>
      <p class= "bd-lead">Venue Size: {{tour.venue_size}} </p>
    {% comment %} {% if artist.twitter %} {% endcomment %}
      {% comment %} <p>Twitter: <a href= "https:twitter.com/{{artistprofile.twitter}}">@{{artistprofile.twitter}}</a></p> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    {% comment %} {% if artist.instagram %} {% endcomment %}
      {% comment %} <p>Instagram: <a href= "https:instagram.com/{{artistprofile.instagram}}">@{{artistprofile.instagram}}</a></p> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    {% comment %} {% if artist.facebook %} {% endcomment %}
      {% comment %} <p>Facebook: <a href= "https:facebook.com/{{artistprofile.twitter}}">{{artistprofile.facebook}}</a></p> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    {% comment %} {% if artist.bandcamp %} {% endcomment %}
     {% comment %} <p>bandcamp: <a href= "https:{{artistprofile.bandcamp}}.bandcamp.com/">{{artistprofile.bandcamp}}</a></p> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    {% comment %} <p>{{artistprofile.description}}</p> {% endcomment %}
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">sign up</a>
      {% endif %}
  </div>
   <div class=" col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    
  </div>
</div>
{% endblock %}