{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "/appy/css/style.css" %}" />

</head>
<body>
    <div class="container-fluid">
        <div class="div-main">
            <div class="sidebar-nav">
    {% block sidebar %}
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'tenant_app' %}">Tenant Application</a></li>
                    <li><a href="{% url 'maint_request' %}">Maintenance Request</a></li>
    {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>

   {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    <li><a href="{% url 'signup'%}?next={{request.path}}">Sign Up</a></li>
                </ul>
    </div>
        </div>
   {% endif %}
        <br>
        <br>
        <div class="div-submitted">
            <h4>Submitted</h4>

                    {% for i in tenant_items %}
                        {{ i }} <br>
                    {% endfor %}
                    {% for i in maint_items %}
                        {{ i }} <br>
                    {% endfor %}
        </div>
     {% endblock sidebar%}



    </div>
{% block content %}{% endblock %}
<footer>
    <script type="text/javascript" src="{% static "appy/js/script.js" %}"></script>
</footer>
</body>


