{% load static %}

<!DOCTYPE html>
<html><head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <h1>What's on your list today?</h1>

  {% if grocery_item_list %}
    <ul>
      {% for item in latest_grocery_list %}
      <li><a href="{% url 'grocery_list:detail' item.id %}">{{ item.item_text }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No items are on your list yet today</p>
  {% endif %}

  <div>
    <a href="{% url 'grocery_list:AddItem' %}">Want to add an item to your list today?</a>
  </div>
</body>
</html>