<!doctype html>
<html>
    <head>
        <title>Grocery List</title>
    </head>
    <body>
        <h1>Grocery List</h1>
        <p>{{ message }}</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input name="gcname" type="text" value="testchad" >
            <input type="submit" value="Add Item">
        </form>
        {% for item in items %} <br>

            {{ item }}  {{ item.complete_date }}

        {% endfor %}
    </body>

</html>