html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    text-align: center;
    width: 900px;
    margin: auto;
    padding: auto;
}

#canvas {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    background-color: black;
}