body {
    font-size: 24px;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 6px;
}

ul {
    margin: 0;
    padding: 24px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

img {
    display: block;
}

.body {
    background-image: url("https://i.pinimg.com/564x/00/b7/42/00b742855e80e9936d803c3e32c196e1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.main-container {
    max-width: 450px;
    
    /* margin: 0 6px; */
    /* padding: 0 12px; */
}

li {
    border: 2px solid black;
    border-radius: 24px;
    margin: 0 6px;
    background-color: white;
    list-style: none;
    display: inline-block;
}

button {
    /* border: 2px solid black; */
    /* border-radius: 24px; */
    margin: 0 6px;
    /* background-color: white; */
    /* list-style: none; */
    /* display: inline-block; */
}

/* button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 24px;
}

p {
    text-align: justify;
    /* margin: 0 12px; */
}

img {
    max-width: 100%;
}

.card-main {
    box-sizing: content-box;
    /* width: 300px;
    height: 300px; */
    border: 3px;
    border-style: solid;
    border-color: rgb(158, 153, 153);
    margin: 6px 0;
    background-color: black;
}

.card-top {
    box-sizing: content-box;
    width: inherit;
    height: 300px;
    border: 3px;
    border-style: solid;
    border-color: rgb(75, 72, 72);
    /* padding: 3px; */
    background-color: black;
    
}

.card-text p {
    text-align: center;
    box-sizing: content-box;
    height: 35%;
    width: inherit;
    color: white;

} 

.dog {
    width: 100%;
    height: inherit;
}