{% extends 'base.html' %}

{% block content %}
    <h1>Home:</h1>

    {% if user.is_authenticated %}
        {% for post in object_list %}
            <div class="home-post-div">
                <a href="{% url 'post_detail' post.pk %}"><h2>{{ post.title }}</h2></a>
                <h4>{{ post.date_posted }} - <a href="{% url 'post_user' post.author %}">{{ post.author }}</a></h4>
                <p>{{ post.body }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>You must be logged in to see our sweet blog posts. Please login or register.</p>
        <a href="{% url 'login' %}"><button id="login">Login</button></a>
        <a href="{% url 'create_new_user' %}"><button id="register">Register</button></a>
    {% endif %}

{% endblock %}