.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


body {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#imgseanconnery {
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 10px rgb(34, 21, 21);
    border-style: solid;

}
.blog {
    width: 400px;
    margin: auto;
}
.menuitems{
    border: 2px;
    border-style: solid;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}   
.menuitems:hover{
    background-color: rgb(212, 215, 218);
    
    
}
 .menu {
    padding-bottom: 10px;
   
    
}
#title {
    font-size: 25px;
    font-weight: 800;
    border: 5px outset rgb(88, 86, 86);
    background-color: rgb(243, 241, 241);
    
}
#content {
    font-size: 18px;
    border: 5px outset rgb(88, 86, 86);
    margin-bottom: 50px;
    background-color: rgb(243, 241, 241);
}
#h1title {
    font-family: 'Lora', serif;
}

@media screen and (min-width: 800px) {
    #imgseanconnery {
      float: left;
      margin-left: 10%;
    }
    .blog {
        clear: both;
    }
    .menu {
        float: right;
        margin-right: 10%;
        margin-top: 50px;
        border: 3px;
        border-style: solid;
        background-color: rgb(243, 241, 241);

        
    }
    .menuitems{
        border: 2px;
        border-style: solid;
        width: 100px;
        margin: auto;
        margin: 50px 10px;
        
    }
    #h1title {
        font-size: 50px;
        margin-bottom: 100px;
    }  
    .blog {
        width: 800px;
        margin: auto;
    }
}
@media screen and (min-width: 1600px) {
    .header {
        width: 1600;
        margin: auto
    }
    #imgseanconnery {
        margin: auto;
        margin-bottom: 60px
    
      }
      
      .blog {
        width: 1000px;
        margin: auto;
    }   
        
    }
}

}