html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding: 24px;
}

#pageInputWrapper, #indexInputWrapper {
    margin: 24px;
}

select {
    width: 100px;
}

#submit {
    margin-left: 24px;
}

div {
    margin: 24px;
}