html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    text-align: center;
    width: 900px;
    margin: auto;
    padding: auto;
}