{% extends 'base.html' %}

{% block content %}

<div id="about-section">
<h1>About</h1>

<p>Threshold is a workout webapp created by Cory Morrissey for his final project at PDX Code Guild. It uses data pulled exclusively from <a href="https://www.bodybuilding.com/exercises/" target="_blank"><b>Bodybuilding.com</b></a>.</p>

<h1>How To Use This App</h1>

<h4>Home</h4>
<p>Contains three default workouts spanning over three days. Used to get a feel of what the website offers.</p>

<h4>Menu > All Exercises</h4>
<p>Contains all exercises available, select the muscle then select the exercise for full details.</p>

<h4>Menu > User's Workouts</h4>
<p>Here is where you can create your workouts. Once the workout has been created, you are able to set exercises to your respective workouts.</p>

<h1>What Muscle Groups To Workout Together</h1>
<p>
The chest, shoulders, and triceps.
The back and the biceps.
Hamstrings (biceps), calves and the glutes.
</p>

<p>
Day 1: Training the chest, shoulders, and triceps muscles.<br><br>
Day 2: Back and biceps exercises.<br><br>
Day 3: Leg exercises.
</p>

<p><b>
This is a rough guide, but using this information the user should be able to create workouts in a matter of minutes. For more details on building workouts, I like the link below.</b>
</p>

<a href="https://www.nerdfitness.com/blog/how-to-build-your-own-workout-routine/" target="_blank">

    <p><b>
        https://www.nerdfitness.com/blog/how-to-build-your-own-workout-routine/
    </b></p>

</a>

</div>

{% endblock %}