{% extends 'base.html' %}

{% block content %}

<h1>Strength Page</h1>

<div id="default-div-wrapper">
    <a href="{% url 'default-strength-day1' %}">
        <div id="exercise-card-outer">
            <div id="exercise-card-inner">
                <p id="workout-default-day1">Day 1</p>
            </div>
        </div>
    </a>
    <a href="{% url 'default-strength-day2' %}">
        <div id="exercise-card-outer">
            <div id="exercise-card-inner">
                <p id="workout-default-day2">Day 2</p>
            </div>
        </div>
    </a>
    <a href="{% url 'default-strength-day3' %}">
        <div id="exercise-card-outer">
            <div id="exercise-card-inner">
                <p id="workout-default-day3">Day 3</p>
            </div>
        </div>
    </a>
</div>

{% endblock %}