{% extends 'base.html' %}

{% block content %}

<h1>Welcome. If you haven't registered, please choose one of these options to get started:</h1>

<div id="home-workout-choices">
    <a href="{% url 'default-cardio' %}">
        <div id="exercise-card-outer">
            <div id="exercise-card-inner">
                <p id="home-button-cardio">Cardio</p>
            </div>
        </div>
    </a>
    <a href="{% url 'default-strength' %}">
        <div id="exercise-card-outer">
            <div id="exercise-card-inner">
                <p id="home-button-strength">Strength</p>
            </div>
        </div>
    </a>
    <a href="{% url 'default-stretch' %}">
        <div id="exercise-card-outer">
            <div id="exercise-card-inner">
                <p id="home-button-stretching">Stretching</p>
            </div>
        </div>
    </a>
</div>

<div id="random-quote-tag">
    <p>{{ quote.body }}</p>
    <p><b><i>{{ quote.author }}</i></b></p>
</div>

{% endblock %}