{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class = "item-b">
<p>Welcome to jomei! A experiment in spreading light in the world by adding context to locations.</p>
<span>
<p>Jomei is the capstone project following a 12-week full stack coding bootcamp covering python, html and css, javascript, and utilizing the django python web framwork.</p>
<span>
<p>Version 1 of this project was to create a 2D mapping and point creation web application to demonstrate plotting markers and the relationship between the markers with the user's origin.</p>
<span>
<p>Future iterations aim to leverage native application frameworks to more easily interact with smart phone/device cameras so that once markers are plotted, then they can be visualized in an augmented reality experience in relation to the user.</p>
<span>
<p>Thank you for stopping by.</p>
<span>
<p>Jeffrey</p>
</div>
{%endblock content%}