

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: url("https://images.pexels.com/photos/1547/light-blur-blurred-background.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    

}
#menutitle {
    text-align: left;
    width: 600px;
    float: left;
    font-weight: bold;
    font-size: 50px;
    font-family: Merienda;

}
#navitems {
    clear: both;
    width: 400px;
    text-align: center;
}

.navitems { 
    float: left;
    padding-right: 50px;
    
}

.blog h2{
    border: 5px outset black;
    box-shadow: 0 0 15px darkblue;
    margin: 40px 25% 0% auto;
    box-sizing: border-box;
    width: 400px;
    float: right;
    
}
.blog p{
    border: 5px outset black;
    box-shadow: 0 0 10px darkblue;
    margin: 0% 25% 0% auto;
    box-sizing: border-box;
    width: 400px;
    float: right;
    
}
#imgalbert {
    height: 200px;
    width: 270px;
    clear: both;
    float: left;   
    padding-bottom: 50px;
    margin-left: 20px
}
#sidebar {
    display: none;
    float: left;
    border: 5px outset black;
    margin-left: 40px;
    margin-top: 40px;
}
.sidenav {
    border: 5px;
    padding: 50px 10%;
}
@media screen and (min-width: 0px) {
    .blog p{
        border: 5px outset black;
        box-shadow: 0 0 10px darkblue;
        margin: 0% 25% 0% auto;
        box-sizing: border-box;
        width: 300px;
        float: right;
    }
}
@media screen and (min-width: 0px) {
    .blog h2{
        border: 5px outset black;
        box-shadow: 0 0 15px darkblue;
        margin: 40px 25% 0% auto;
        box-sizing: border-box;
        width: 300px;
        float: right;
    }
}
@media screen and (min-width: 800px) {
    #sidebar {
    display: block;
    
    }
    .blog p{
        border: 5px outset black;
        box-shadow: 0 0 10px darkblue;
        margin: 0% auto 0% 100px;
        box-sizing: border-box;
        width: 500px;
        float: left;
    }
    .blog h2{
        border: 5px outset black;
        box-shadow: 0 0 15px darkblue;
        margin: 40px auto 0% 100px;
        box-sizing: border-box;
        width: 500px;
        float: left;
        
    }
  }
@media screen and (min-width: 800px) {
    .navitems {
      display: none;
    }
  }


  
