body {
    background-image: url("https://images.pexels.com/photos/696680/pexels-photo-696680.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");


}
#blogpost1  h2{
    border: 5px outset black;
    box-shadow: 0 0 15px darkblue;
    margin-bottom: 0%;
    box-sizing: border-box;
    width: 35%;
    clear: both;
}
#blogpost1  p{
    border: 5px outset black;
    box-shadow: 0 0 10px darkblue;
    margin-top: 0%;
    margin-bottom: 5%;
    box-sizing: border-box;
    width: 35%;
    clear: both;
}
#navitems {
    width: 50%;
   float: right;
    
}

#menutitle {
    width: 25%;
}
