/* *, *:before, *:after {
  box-sizing: inherit;
} */

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 500px;
}

.item-a {
  grid-row: 1 /2;
  display: flex;
  justify-content: space-evenly;
}

.item-b {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.item-c {
  grid-row: 3/4;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.item-d {
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  text-align: center;
}