div {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    border: solid black;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#maincontent p h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: solid black;
    
}

#stopwatch {
    float: left;
    grid-column-start: 1;
    border: solid black;
}


#display-lapTtimes {
    border: solid black;
    float: right;
    grid-column-start: 3
}