

body {
  background-color: rgb(93,127,121);
  color: rgb(186, 255, 242);
} 




#ogUrl {
  width: 1000px; 
  word-wrap:break-word; 
  background-color:rgb(149,204,194); 
  text-align:center;
}

#ogUrl a{
  color: darkblue
}

#newUrl a{
  color: darkblue
}