#container1 {
  border: 2px solid black;
  border-radius: 15px;
  min-height: 100px;
  margin-top: 5px;
  padding: 10px;
  margin: auto;
  width:75%;
  margin-top: 10px;
}

#container2 {
  border: 2px solid black;
  border-radius: 15px;
  min-height: 100px;
  margin-top: 5px;
  padding: 10px;
  margin: auto;
  width:75%;
  margin-top: 10px;
}



h1 {
  text-align: center;
}

#operationbar {
  display: flex;
  justify-content: center;
}

button, .button {
  padding: 10px;
  margin: 10px;
}