<html>
    <head>
        <link rel="stylesheet" type="text/css" href="normalize.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
            
    </head>
            
        <body>
            <header>
                
            </header>
                <div >
                    <input type="button" id="display-btn" value="Display">
                </div>
                <div id=dtarget>
                    
                </div>
            <footer>
                <script src="config.js"></script>
                <script src="script.js"></script>
            </footer>
        </body>
</html>